.product-card img{
  height: 500px;
}
.product-card{
    position: relative;
    border: 1px solid rgb(180, 178, 178);
}

.product-details{
    position: absolute;
    text-align: center;
    left: 15%;
    bottom: 0;
    text-align: center;
}
.product-info{
    transition: all 1.5s;
}
.btn-cart{
    display: none;
    font-size: 25px;
    text-decoration: none;
    transition: all 2s;
    
}
.product-card:hover .btn-cart{
    display: block;  
   
}
.product-card:hover .product-info{
    display: none;
   
}
.price{
    color: rgb(48, 47, 47);
    font-weight: 600;
    font-size: 20px;
}