.side-link{
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 20px !important;
}

.side-link:hover{
    color: white;
}

.line{
   border: 2px solid gray;
   width: 220px;
}
.navigation{
    list-style: none;
}
.navigation li{
    margin-bottom: 10px;
}